.tag {
    color: #fcff38;
    text-decoration: none;
    display: inline-block;
    padding: .33333rem .5rem;
    line-height: 1;
    border: 1px solid #fcff38;
    margin-right: .5em;
    margin-bottom: .5em;
  }
  