footer {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 2.5em auto;
    max-width: 75%;
    max-height: 100px;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 400;
    color: #7a7a7a;
}
