.hero {
  height: 80%;
  position: relative;
  background: #252525;
  color: #ffffffef;
  text-align: center;
}

.heroDetails {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, 0);
}

@media(min-width: 250px) {
  .heroDetails {
    font-size: 3vh;
  }
}

@media(min-width: 580px) {
  .heroDetails {
    font-size: 4vh;
  }
}

@media(min-width: 780px) {
  .heroDetails {
    font-size: 5vh;
  }
}

.heroHeadline {
  margin: 0;
}

.heroTitle {
  margin: 0;
  font-size: .85em;
  font-weight: bold;
}
